# Environment variables and secrets
.env
.env.*
!.env.example

# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
build
.output

# Misc
.DS_Store
*.pem
.vscode
.idea

# Temporary files
.tmp/
__pycache__/
*.pyc
